@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.header {
  width: 100%;
  padding: 36px;
  margin-bottom: 16px;

  &-title {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 36px;
  }
}
