$margin: 60px;

:host {
  flex: 1;
  display: flex;
}

.forecasts {
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: $margin;

  &-current {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-bottom: $margin;
    justify-content: space-between;

    app-city-details {
      width: 60%;
    }

    app-current-weather {
      width: 40%;
    }
  }

  &-list, &-chart {
    width: 70%;
    margin-bottom: $margin;
  }

  &-summary {
    width: 60%;
    margin-bottom: $margin;
  }
}

.forecasts-not-found,
.forecasts-loading {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecasts-not-found span {
  padding: 64px;
  border: solid 1px rgba(255,255,255,0.3);
  border-radius: 5px;
}

@media (max-width: 730px) {
  .forecasts-current {
    width: 80%;
    flex-direction: column;
    margin-bottom: 0;

    app-city-details, app-current-weather {
      width: 100%;
      margin-bottom: $margin;
    }
  }

  .forecasts-list {
    width: 90%;
  }

  .forecasts-summary {
    width: 80%;
  }
}
