<div *ngIf="isLoading | async; else forecastsList"
     class="forecasts-loading">
  <mat-spinner color="accent"></mat-spinner>
</div>

<ng-template #forecastsList>
  <div *ngIf="forecasts && forecasts.length > 0"
       class="forecasts"
       [@fadeIn]>
    <div class="forecasts-current">
      <app-city-details [city]="city"></app-city-details>
      <app-current-weather [cityId]="city.id"></app-current-weather>
    </div>
    <carousel class="forecasts-list"
              [itemsPerSlide]="4"
              [singleSlideOffset]="false"
              [noWrap]="true"
              [showIndicators]="false"
              [interval]="false">
      <slide *ngFor="let forecast of forecasts">
        <app-forecast-card [forecast]="forecast">
        </app-forecast-card>
      </slide>
    </carousel>
    <app-forecasts-chart class="forecasts-chart"
                         [forecasts]="forecasts"></app-forecasts-chart>
    <app-forecasts-summary class="forecasts-summary"
                           [forecasts]="forecasts"></app-forecasts-summary>
  </div>

  <div *ngIf="forecasts && forecasts.length === 0"
       class="forecasts-not-found"
       [@fadeIn]>
    <span>No forecast found for specified city.</span>
  </div>
</ng-template>
