<div *ngIf="forecasts && forecasts.length > 0">
  <h5 class="forecasts-chart-title">Five days forecast</h5>
  <canvas baseChart
          width="600"
          height="300"
          [datasets]="lineChartData"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"></canvas>
</div>
