:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-weather {
  height: 100%;

  mat-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    height: 26px;
    font-family: inherit;

    &.current-weather-title {
      height: 40px;
      font-size: 32px;
      margin: 8px 0 16px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    span:not(:last-child) {
      margin-right: 8px;
    }

    fa-icon, mat-icon {
      margin-right: 4px;
    }

    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }

  &-description {
    font-size: 14px;
  }
}
