<mat-list *ngIf="currentWeather$ | async as currentWeather; else loading"
          class="current-weather">
  <mat-list-item>
    <h5>Today</h5>
  </mat-list-item>
  <mat-list-item class="current-weather-title">
    <img *ngIf="currentWeather.weather"
         src="http://openweathermap.org/img/wn/{{currentWeather.weather[0].icon}}.png"/>
    <span>{{ currentWeather.details?.temperature | number:'1.0-0' }}&deg;C</span>
  </mat-list-item>
  <mat-list-item>
    <span>Feels like {{ currentWeather.details?.feelsLike | number:'1.0-0' }}&deg;C</span>
  </mat-list-item>
  <mat-list-item class="current-weather-temp">
    <fa-icon [icon]="minTemp"></fa-icon>
    <span>{{ currentWeather.details?.tempMin | number:'1.0-0' }}&deg;C</span>
    <span><b>/</b></span>
    <fa-icon [icon]="maxTemp"></fa-icon>
    <span>{{ currentWeather.details?.tempMax | number:'1.0-0' }}&deg;C</span>
  </mat-list-item>
  <mat-list-item class="current-weather-details">
    <mat-icon>opacity</mat-icon>
    <span>{{ currentWeather.details?.humidity }}%</span>
    <span>{{ currentWeather.details?.pressure }}hPa</span>
  </mat-list-item>
  <mat-list-item class="current-weather-description">
    <span *ngFor="let state of currentWeather.weather">
      {{ state.description | uppercase }}
    </span>
  </mat-list-item>
</mat-list>
<ng-template #loading>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>
