<ng-container *ngIf="forecast">
  <h5 class="dialog-title">
    {{ forecast.date | date:'E, dd MMMM h:mm a' }}
    <button mat-icon-button
            (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </h5>

  <div class="forecast-weather">
    <img *ngIf="forecast.weather"
         alt="{{ forecast.weather[0].main }}"
         src="http://openweathermap.org/img/wn/{{ forecast.weather[0].icon }}.png"/>
    <span>{{ forecast.details?.temperature | number:'1.0-0' }}&deg;C</span>
  </div>
  <span *ngIf="forecast.weather"
        class="forecast-weather-state">{{forecast.weather[0].main}}</span>

  <mat-list mat-dialog-content
            class="forecast-details">
    <div mat-subheader>Details</div>
    <mat-list-item>
    <span>
       <fa-icon size="sm"
                [fixedWidth]="true"
                [icon]="temp"></fa-icon>
      Feels like
    </span>
      <span>{{ forecast.details?.feelsLike | number:'1.0-0' }}&deg;C</span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <fa-icon size="sm"
               [fixedWidth]="true"
               [icon]="minTemp"></fa-icon>
      Minimal
    </span>
      <span>{{ forecast.details?.tempMin | number:'1.0-0' }}&deg;C</span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <fa-icon size="sm"
               [fixedWidth]="true"
               [icon]="maxTemp"></fa-icon>
      Maximal
    </span>
      <span>{{ forecast.details?.tempMax | number:'1.0-0' }}&deg;C</span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <mat-icon mat-list-icon>opacity</mat-icon>
      Humidity
    </span>
      <span>{{ forecast.details?.humidity }}%</span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <fa-icon size="sm"
               [fixedWidth]="true"
               [icon]="wind"></fa-icon>
      Wind
    </span>
      <span>{{ forecast.wind?.speed }} m/s, {{ forecast.wind?.deg }} deg</span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <fa-icon size="sm"
               [fixedWidth]="true"
               [icon]="cloud"></fa-icon>
      Clouds
    </span>
      <span>{{ forecast.clouds }}%</span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <fa-icon size="sm"
               [fixedWidth]="true"
               [icon]="rain"></fa-icon>
      Rain
    </span>
      <span>{{ forecast.rain || 'None' }}
        <ng-container *ngIf="forecast.rain">mm</ng-container>
    </span>
    </mat-list-item>

    <mat-list-item>
    <span>
      <fa-icon size="sm"
               [fixedWidth]="true"
               [icon]="snow"></fa-icon>
      Snow
    </span>
      <span>{{ forecast.snow || 'None' }}
        <ng-container *ngIf="forecast.snow">mm</ng-container>
    </span>
    </mat-list-item>

    <mat-list-item>
      <span>Pressure</span>
      <span>{{ forecast.details?.pressure }} hPa</span>
    </mat-list-item>

    <mat-list-item>
      <span>Description</span>
      <span>
      <ng-container *ngFor="let state of forecast.weather">
        {{ state.description | titlecase }}
      </ng-container>
    </span>
    </mat-list-item>
  </mat-list>
</ng-container>


