.dialog-title {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.forecast-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;

  img {
    width: 60px;
    height: 60px;
  }
}

.forecast-weather-state {
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 8px;
}

.forecast-details mat-list-item {
  height: 30px;

  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    padding: 0;
    margin-right: 8px;
  }

  fa-icon {
    margin-right: 8px;
  }
}

:host {
  ::ng-deep .mat-list-item-content {
    justify-content: space-between;
  }
}

