.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 50px;
    height: 50px;
    margin-top: 8px;
  }

  &-temperature {
    font-size: 18px;
  }

  &-description {
    font-size: 14px;
  }

  mat-list-item {
    display: flex;
    justify-content: center;
    height: 26px;
    font-family: inherit;

    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }

    span:not(:last-child) {
      margin-right: 8px;
    }
  }

  .forecast-details-button {
    font-size: 12px;
    margin-top: 16px;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 530px) {
    mat-list {
    display: none;
  }
}
