<div *ngIf="forecast"
     class="forecast-card">
  <span>{{forecast?.date | date:'E, h:mm a'}}</span>
  <img *ngIf="forecast.weather"
       src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}.png"/>
  <span class="forecast-card-temperature">
    {{ forecast.details?.temperature | number:'1.0-0' }}&deg;C
  </span>

  <mat-list>
    <mat-list-item>
       <span *ngFor="let state of forecast.weather"
             class="forecast-card-description">
      {{ state.description | uppercase }}
    </span>
    </mat-list-item>

    <mat-list-item>
      <span>Feels like {{ forecast.details?.feelsLike | number:'1.0-0' }}&deg;C</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon>opacity</mat-icon>
      <span>{{ forecast.details?.humidity }}%</span>
      <span>{{ forecast.details?.pressure }}hPa</span>
    </mat-list-item>
  </mat-list>

  <button mat-stroked-button
          class="forecast-details-button"
          (click)="openDetails()">
    Details
  </button>
</div>
