.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: #19185c;
  background-image: linear-gradient(120deg, #1d1638 0%, #19164b 10%, #56c5b0 60%, #cdf8e4 100%);
  background-size: 200% 200%;
  animation: change 5s ease-in-out;
  background-position: 0 50%;
  display: flex;
  flex-direction: column;
}

@keyframes change {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0 50%;
  }
}
