<div class="summary">
  <h5 class="summary-title">Summary</h5>
  <mat-divider></mat-divider>

  <mat-list class="summary-list">
    <mat-list-item>
      <span>
        Average temperature per week
      </span>
      <span>{{ averageTemperature | number:'1.0-2' }}&deg;C</span>
    </mat-list-item>

    <mat-list-item>
      <span>
        Average pressure per week
      </span>
      <span>{{ averagePressure | number:'1.0-2' }} hPa</span>
    </mat-list-item>

    <mat-list-item>
      <span>
        Average humidity per week
      </span>
      <span>{{ averageHumidity | number:'1.0-2' }} %</span>
    </mat-list-item>

    <mat-list-item>
      <span>
        Average wind speed per week
      </span>
      <span>{{ averageWind | number:'1.0-2' }} m/s</span>
    </mat-list-item>

    <mat-list-item *ngIf="averageRain">
      <span>
        Average rain volume per week
      </span>
      <span>{{ averageRain | number:'1.0-2' }} mm</span>
    </mat-list-item>

    <mat-list-item *ngIf="averageSnow">
      <span>
        Average snow volume per week
      </span>
      <span>{{ averageSnow | number:'1.0-2' }} mm</span>
    </mat-list-item>

    <mat-list-item>
      <span>
        Minimum temperature
      </span>
      <span>{{ minTemperature | number:'1.0-2' }}&deg;C</span>
    </mat-list-item>

    <mat-list-item>
      <span>
        Maximum temperature
      </span>
      <span>{{ maxTemperature | number:'1.0-2' }}&deg;C</span>
    </mat-list-item>
  </mat-list>
</div>
