.summary {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 5px;

  &-title {
    padding: 16px;
    margin-bottom: 0;
  }

  &-list {
    padding: 8px;

    mat-list-item {
      height: 32px;
      line-height: 20px;
      white-space: nowrap;

      span:not(:last-child) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        padding: 0;
        margin-right: 8px;
      }

      fa-icon {
        margin-right: 8px;
      }
    }
  }
}

:host {
  ::ng-deep .mat-list-item-content {
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .summary {
    width: 100%;
  }
}
