/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'assets/styles/global.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  &:focus {
    outline: none;
  }
}
