<div class="search">
  <mat-form-field color="accent"
                  appearance="outline"
                  class="search-input">
    <input matInput
           type="text"
           placeholder="City"
           [formControl]="cityFormControl"
           [matAutocomplete]="auto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="getCityName"
                      (optionSelected)="onSelectedChange($event)">
      <mat-option *ngIf="isLoading; else citiesList"
                  class="search-loading">
        <div class="search-loading-container">
          <mat-spinner color="accent"
                       diameter="50"></mat-spinner>
        </div>
      </mat-option>
      <ng-template #citiesList>
        <mat-option *ngFor="let city of cities"
                    [value]="city">
          <div class="search-list-item">
            <span>{{ city.name }}, {{ city.country }}</span>
            <span>
              <b class="search-list-coordinates">Coordinates:</b>
                [{{ city.coordinates.lon | number:'1.0-2' }}, {{ city.coordinates.lon | number:'1.0-2' }}]
            </span>
          </div>
        </mat-option>
        <mat-option *ngIf="cities && cities.length === 0 && cityFormControl.valid"
                    disabled>
          No city found for specified query.
        </mat-option>
      </ng-template>
    </mat-autocomplete>
    <mat-hint *ngIf="!cityFormControl.dirty">Enter at least 3 characters to search.</mat-hint>
    <mat-error *ngIf="cityFormControl.errors">
      City's name must be at least 3 characters long.
    </mat-error>
  </mat-form-field>
  <button mat-stroked-button
          class="search-button"
          (click)="onSearch()">Search
  </button>
</div>
