.search {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &-button {
    height: 54px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
  }

  &-input {
    flex: 1;
    margin-right: 16px;
  }

  &-loading {
    height: unset;
  }

  &-loading-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 16px;
  }

  &-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span:last-child {
      font-size: 12px;
    }
  }
}

:host ::ng-deep {
  mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    border-top: 8px solid transparent;
  }

  button .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 730px) {
  .search-list-coordinates {
    display: none;
  }
}
