<div *ngIf="city"
     class="city">
  <div class="city-title">
    <h5>{{city.name}}, {{city.country}}</h5>
    <span>{{currentDate | date:'EEEE, dd MMMM hh:mm a'}}</span>
  </div>
  <mat-divider></mat-divider>

  <mat-grid-list cols="2"
                 rowHeight="40px">
    <mat-grid-tile>
      <strong class="city-details-cell">
        <fa-icon [icon]="location"></fa-icon>
        Location
      </strong>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="city-details-cell">
        [{{city.coordinates?.lat | number:'1.0-2'}}, {{city.coordinates?.lon | number:'1.0-2'}}]
      </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <strong class="city-details-cell">
        <fa-icon [icon]="sunriseIcon"></fa-icon>
        Sunrise
      </strong>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="city-details-cell">
        {{city.sunriseDate | date:'h:mm a'}}
      </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <strong class="city-details-cell">
        <fa-icon [icon]="sunsetIcon"></fa-icon>
        Sunset
      </strong>
    </mat-grid-tile>
    <mat-grid-tile>
      <span class="city-details-cell">
        {{city.sunsetDate | date:'h:mm a'}}
      </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

