.city {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(255,255,255,0.3);
  border-radius: 5px;
  padding-bottom: 8px;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    h5 {
      margin: 0;
    }
  }

  .city-details-cell {
    flex: 1;
    padding: 8px 16px;
  }

  strong {
    text-align: start;
  }

  span {
    text-align: end;
  }

  fa-icon {
    margin-right: 16px;
  }

  mat-grid-list {
    margin-top: 12px;
  }
}
